h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
 }

h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
}

h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
}

h4{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
}

h5{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
}

h6{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
    font-size: 16px;
}
.areas {
    text-align: center;
}
#main
{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    padding: 0px;
}
#topMenu {
    height: 10%;
    width: 100%;
    background-color: #808080;
}
#sideMenu {
    float: left;
    height: 90%;
    width: 15%;
    background-color: red;
}
#contentArea {
    float: right;
    height: 90%;
    width: 85%;
    overflow-y: auto;
}
#topButtons {
    width: 60%;
    float: right;
}
#userData {
    width: 30%;
    float: left;
}
#circle {
    margin: 8px;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: black;

}
#username {
    float: left;
    background-color: transparent;
    padding: 1px 1px;
    height: 70px;
    font-size: 15px;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
}

#username:hover{
    background-color: lightgray;
    color: red;
    padding: 25px 40px 25px 40px;
}

.topButtons {
    background-color: transparent;
    padding: 1px 1px;
    height: 70px;
    font-size: 15px;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */

}

.topButtons:hover{
    background-color: lightgray;
    color: red;
}
.selectedTop {
    background-color: #4d4d4d;
    padding: 1px 1px;
    height: 70px;
    font-size: 15px;
    border: none;
    color: white;
    cursor: pointer;
}


#trades {
    width: 30%;
}
#settings {
    width: 15%;
}
#money {
    width: 20%;
}
#money2 {
    width: 30%
}
.sideButtons {
    background-color: red;
    padding: 1px 1px;
    height: 25%;
    width: 100%;
    font-size: 25px;
    border: none;
    color: white;
    cursor: pointer;
}
.selectedSide {
    background-color: darkred;
    padding: 1px 1px;
    height: 25%;
    width: 100%;
    font-size: 25px;
    border: none;
    color: white;
    cursor: pointer;
}
.line {
    margin: auto;
    height: 2px;
    width: 80%;
    background-color: white;
}


