h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: red;
}

h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
}

h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
}

h4{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
}

h5{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
}

h6{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
    font-size: 16px;
}




.areas {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #808080;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

li {
    float: right;
    height: 100%;
    padding: 33px;
    -webkit-transition-duration: 0.4s; /* transitions */
}

li:hover {
    background-color: #4d4d4d;
    -webkit-transition-duration: 0.4s; /* transitions */
}



.active {
    background-color: #4d4d4d;
}


/*Vertical Menu
#vertical{
    width: 50%;
    background-color: orange;

}
*/
ul2 {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: red;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

li2 {



    width: 100%;
    height: 100%;
    padding: 70px 50px 70px 50px;
    -webkit-transition-duration: 0.4s; /* transitions */
    background-color: red;
    color: white;
    display: block;
    vertical-align: middle;
    font-size: 33px;
    text-align: center;

}

li2:hover {
    background-color:darkred;
    -webkit-transition-duration: 0.4s; /* transitions */
}



.active {
    background-color: #4CAF50;
}



#main
{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    padding: 0px;
}
#topMenu {
    height: 10%;
    width: 100%;
    background-color: #808080;
}
#sideMenu {
    float: left;
    height: 90%;
    width: 15%;
    background-color: red;
}
#contentArea {
    float: right;
    height: 90%;
    width: 85%;
    overflow-y: auto;
    top-margin:20px;
}
#topButtons {
    width: 60%;
    height: 100%;
    float: right;
    margin: 0;
    padding: 0;
}
#userData {
    height: 10px;
    float: left;
}


/*#circle {
    margin: 4px;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: black;

}
*/

.topButtons {
    background-color: transparent;
    height: 100%;

    font-size: 15px;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* transitions */

}

.topButtons:hover{
    background-color: #4d4d4d;

}
.selectedTop {
    background-color: #4d4d4d;

    height: 70px;
    font-size: 15px;
    border: none;
    color: white;
    cursor: pointer;
}
#username {
    background-color: transparent;
    height: 630%;
    text-align: left;
    padding: 20px;
    margin-left: 70px;

    font-size: 20px;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* transitions */
    width: 150%;

}
#username:hover {
    background-color: #4d4d4d;

}
.circle{
    margin: 4px;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 75px;
    background: black;
}



#trades {
    width: 30%;
}
#settings {
    width: 15%;
}
#money {
    width: 20%;
}
#money2 {
    width: 30%
}
.sideButtons {
    background-color: red;
    padding: 1px 1px;
    height: 25%;
    width: 100%;
    font-size: 25px;
    border: none;
    color: white;
    cursor: pointer;
}
.sideButtons:hover {
    background-color: darkred;
    padding: 1px 1px;
    height: 25%;
    width: 100%;
    font-size: 25px;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* transitions */
}
.selectedSide {
    background-color: darkred;
    padding: 1px 1px;
    height: 25%;
    width: 100%;
    font-size: 25px;
    border: none;
    color: white;
    cursor: pointer;
}

marquee{
    background-color: black;
    color: white;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*.line {
    margin: auto;
    height: 2px;
    width: 80%;
    background-color: white;
}
*/