body{
    background-color: white;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-bottom: auto;
}



.profile{
    color-overlay: red;
}

#left{
    width: 40%;
    float: left;
    padding: 0px;
    height: 100%;
    padding-top: 60px;
}

#left-top{
    float: left;
    width:100%;
    margin-top: 5px;
    margin-left: 80px;
}

#chartContainer {
    box-sizing: border-box;
    padding: 10px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    align: center;
    text-align: left;
    float:left;
    margin-left: 180px;
    padding-top: 50px;
}

#chartTitle{
    padding-top: 350px;
    padding-left: 650px;
}

#left-down{
    align: center;
    float: bottom;
}

#right{
    width: 30%;
    float: left;
    text-align: left;
    margin-left: 100px;
}
#right-top{
    float: left;
    margin-left: 100px;
}

#bottom{
    padding:20px;
    width: 80%;
    float: bottom;
}

profile:hover  {
    color: red;
}

table{
    border-radius: 20px;
    -webkit-transition-duration: 0.4s; /* translations */
}
th {
    border: 5px solid lightgrey;
    text-align: left;
    padding: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: red;
    font-size: 18px;
    background-color: #dddddd;
    -webkit-transition-duration: 0.4s; /* translations */
}

td {
    border: 5px solid lightgrey;
    text-align: left;
    padding: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
    font-size: 17px;
    -webkit-transition-duration: 0.4s; /* translations */
}
