body{
    background-color: white;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-bottom: auto;
}



.profile{
    color-overlay: red;
}

#left{
    width: 25%;
    float: left;
    padding: 0px;
    height: 100%;
    padding-top: 60px;
}

#bottom{
    align: center;
    width:100%;
    margin-top: 5px;
}

#chartContainer {
    box-sizing: border-box;
    padding: 10px;
    width: 65%;
    float: right;
    height: 300px;
    background-color: #fff;
    text-align: left;
    margin-left: 0px;
    padding-top: 50px;
}

#chartTitle{
    padding-top: 350px;
    padding-left: 480px;
}

#left-down{
    align: center;
    float: bottom;
}

#right{
    width: 30%;
    float: left;
    text-align: left;
    margin-left: 100px;
}
#right-top{
    float: left;
    margin-left: 100px;
}

#bottom{
    padding:20px;
    width: 80%;
    float: bottom;
}

profile:hover  {
    color: red;
}

.worthChart {
    float: left;
}
.balanceChart {
    float: right;
}
