body{
    background-color: white;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-bottom: auto;
}

#chartContainer{
    display: block;

    padding-left:0px;
    width:1000px;
}
#container{
    padding-left:50px;
    padding-right: 50px;
    text-align: center;


}

.selectBar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 50px;
}

.playerTable{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right:20px;
    padding-left: 50px;
    width:1000px;
}

.chartTitle{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* When the input field gets focus, change its width to 100% */
input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;

    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    <!--width: 90%; -->
    margin-left:20px;
    margin-right:20px;
}

table{
    text-align:right;


}
th {
    border: 5px solid lightgrey;
    text-align: left;
    padding: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: red;
    font-size: 18px;
    background-color: #dddddd;

}

td {
    border: 5px solid lightgrey;
    text-align: center;
    padding: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
    font-size: 16px;

}