#transactionPage {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.transactionList {
    border-collapse: collapse;
    width: 100%;
}

table{
    border-radius: 20px;
    -webkit-transition-duration: 0.4s; /* translations */
}

th {
    border: 5px solid lightgrey;
    text-align: left;
    padding: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: red;
    font-size: 18px;
    background-color: #dddddd;
    -webkit-transition-duration: 0.4s; /* translations */
}

td {
    border: 5px solid lightgrey;
    text-align: left;
    padding: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
    font-size: 17px;
    -webkit-transition-duration: 0.4s; /* translations */
}

.centerAlign {
    text-align: center;
}